# ensure that a docker runner is used
default:
  # this is actually quite bad since in ci arrays are always overwritten.
  # it is likely better to add that line by hand!
  tags:
    - env:docker

stages:
  - build

build-branch:
  # make sure to use a docker runner for all jobs
  tags:
    - env:docker
  # use node latest for all jobs
  image: node:18.4.0
  stage: build
  before_script:
    # NodeJS Error Workaround https://github.com/webpack/webpack/issues/14532#issuecomment-947012063 & https://stackoverflow.com/questions/69692842/error0308010cdigital-envelope-routinesunsupported
    - export NODE_OPTIONS="--openssl-legacy-provider --max-old-space-size=8192"
    # make sure to use yarn2
    - yarn set version berry
    # copy the workspace lock file to be recognized by yarn
    - touch yarn.lock-workspace
    - cp yarn.lock-workspace yarn.lock
    # always install dependencies, will come from cache and is usually fast
    - yarn install
  script:
    - yarn run build
  artifacts:
    # all build results are expected to be in the `dist` folder
    paths:
      - dist
    expire_in: 1 week
  only:
    # Do not run for semver tags by the bot
    variables:
      - $CI_COMMIT_TAG !~ /v[0-9]*\.[0-9]*\.[0-9]*/ && $GITLAB_USER_ID != $GIT_BOT_USER_ID
